#dashboard {
  background: none repeat scroll 0 0 #FFFFFF;  border: 3px solid #0074CC;
  border-radius: 5px 5px 5px 5px; padding-bottom: 10px;
}
.newsFeed{ border: 1px solid #0055CC; }
.filter, .newsFeed { padding: 7px; margin: 10px 5px 0px;}
.websiteImage { overflow: hidden; height: 45px; width:45px; margin-right: 10px;}
.filter, .newsFeed, .websiteImage {border-radius: 3px;}
