.newsFeed{ border: 1px solid #0055CC; margin:5px; border-radius: 3px; }
.newsTitle, .newsDescription, .newsImage img {margin: 5px;}
.newsImage img { border: 1px solid; border-radius: 3px; }
.newsImage {display: block; float: left;}
.newsTitle a {font-size: 14px; font-style: italic; font-weight: bold; }
.dashboard{margin-left: 10px; margin-right: 10px; }
#moreNews{ background: url("/assets/big-loader.gif") no-repeat;
  color: #4d4d4d; width:40px; display: inline-block; height:40px; margin-left: 425px;}
.new {background-color: rgba(255, 255, 166, 0.31);}
.timeAgo {display: block; text-align: right; padding: 0 5px 5px;}
abbr[title] { cursor: default; }